body {
  font-family: 'Trebuchet MS', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  background-color: rgb(212, 217, 245);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: rgb(13, 13, 65);
  height: 100px;
}

h1 {
  font-size: 200%;
  padding-left: 40px;
  padding-right: 20px;
  background-color: rgb(44, 108, 168);
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  margin-right: 20px;
}

nav a {
  background-image: linear-gradient(rgb(44, 108, 168), rgb(44, 108, 168));
  background-repeat: no-repeat;
  background-size: 100% 2px;
  background-position: bottom;
  transition: 0.2s ease-in;
  color: rgb(44, 108, 168);
}

nav a:hover{
  color: rgb(13, 13, 65);
background-size: 100% 100%;
}

.figcap {
  display: flex;
  flex-direction: row;
  background-image: url("./images/Waterfall.png");
  height: 300px;
  width: 100%;
  margin-bottom: 25px;
  background-size: cover;
  background-position: center;
  justify-content: flex-end;
  align-items: flex-end;
}

.caption {
  font-size: 150%;
  background-color: rgb(44, 108, 168);
  margin-bottom: 25px;
  margin-right: 25px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 50px;
border-style:dashed
}

section {
  display: flex;
  margin-bottom: 30px;
}

.aboutme {
  display: flex;
}

.aboutmetext {
  height: 200px;
}

p {
  padding-left: 15px;
}

img {
  height: 200px;
  width: 100px;
  border-radius: 50px;
  border-style: dashed;
  border-color: rgb(0, 0, 0);
}

h2 {
  margin-right: 20px;
  padding-top: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0px;
  font-size: 300%;
  color: rgb(13, 13, 65);
  min-width: 300px;
  text-align: end;
  align-items: flex-start;
  border-right: solid 5px rgb(13, 13, 65);
  background-color: rgb(212, 217, 245);
}

.workclass {
  margin-bottom: 0;
}

.work {
  height: 760px;
}

.figcapwork {
  text-align: left;
  font-size: 100%;
  background-color: white;
  color: rgb(13, 13, 65);
  margin-bottom: 25px;
  margin-right: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.worksection1 {
  display: flex;
  flex-direction: column;
  flex-grow: calc(1);
}

.mainworksection {
  display: flex;
  flex-direction: row;
  background-image: url(./images/BigMain.png);
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center;
  justify-content: flex-start;
  align-items: flex-end;
  border: solid 5px rgb(13, 13, 65);
  margin-right: 30px;
}

figure.mainworksection,
figure.work1,
figure.work2,
figure.work3,
figure.work4 {
  opacity: .8;
}

figure.mainworksection:hover,
figure.work1:hover,
figure.work2:hover,
figure.work3:hover,
figure.work4:hover {
  opacity: 1;
}

.work1 {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  background-image: url(./images/Tab1.png);
  height: 150px;
  background-size: cover;
  background-position: center;
  justify-content: flex-start;
  align-items: flex-end;
  border: solid 5px rgb(13, 13, 65);
  margin-right: 30px;

}

.worksection2,
.worksection3 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-grow: calc(1);
}

.work2 {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  background-image: url(./images/Tab2.png);
  height: 150px;
  background-size: cover;
  background-position: center;
  justify-content: flex-start;
  align-items: flex-end;
  border: solid 5px rgb(13, 13, 65);
  margin-right: 30px;
}

.work3 {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  background-image: url(./images/Tab3.png);
  height: 150px;
  background-size: cover;
  background-position: center;
  justify-content: flex-start;
  align-items: flex-end;
  border: solid 5px rgb(13, 13, 65);
  margin-right: 30px;
}

.work4 {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  background-image: url(./images/Tab4.png);
  height: 150px;
  background-size: cover;
  background-position: center;
  justify-content: flex-start;
  align-items: flex-end;
  border: solid 5px rgb(13, 13, 65);
  margin-right: 30px;
}

#footer {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  margin-right: 20px;
  width: 500px;

}

#footer a {
  font-weight: bold;
  background-image: linear-gradient(rgb(44, 108, 168), rgb(44, 108, 168));
  background-repeat: no-repeat;
  background-size: 100% 2px;
  background-position: bottom;
  transition: 0.2s ease-in;
  color: rgb(44, 108, 168);
}

#footer a:hover {
  color: rgb(13, 13, 65);
background-size: 100% 100%;
}